<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Documentation API VOD</title>
        <style media="screen">
            body {
                background: #282828;
                display: flex;
                justify-content: center;
                align-items: center;
                color: whitesmoke;
                padding: 0;
                margin: 0;
                flex-wrap: wrap;
                text-align: center;
            }
            section {
                width: 100%;
                background: whitesmoke;
                color: #282828;
            }
            code {
                background-color: #eee;
                border-radius: 3px;
                font-family: courier, monospace;
                padding: 0 3px;
            }
            article {
                width: 90%;
                margin: 5%;
                border: 2px dashed #282828;

            }
            img {
                width: 90%;
            }
        </style>
    </head>
    <body>
        <header>
            <div>
                <h1>Documentation API</h1>
            </div>
            <div>
                <h5>Vous trouverez ci-dessous un détails des requettes possibles de l'API ainsi que de ses éventuelle retours</h5>
            </div>
        </header>
        <section>
            <h3>Les requettes GET</h3>
            <article>
                <pre>L'url ci-dessous retourne tout les utilisateurs inscrit sur l'API</pre>
                <p><code>https://brianboudrioux.fr/simplon/api/users</code></p>
            </article>
            <article>
                <pre>L'url ci-dessous retourne toutes les catégories de films</pre>
                <p><code>https://brianboudrioux.fr/simplon/api/categories</code></p>
                <pre>Exemple (POSTMAN) : </pre>
                <img src="../../getCategories.PNG" alt="get categories exemple call postman">
            </article>
            <article>
                <pre>L'url ci-dessous retourne tout les films/series</pre>
                <p><code>https://brianboudrioux.fr/simplon/api/products</code></p>
                <pre>Exemple (POSTMAN) : </pre>
                <img src="../../getProducts.PNG" alt="get categories exemple call postman">
            </article>
            <article>
                <pre>L'url ci-dessous retourne tout les films/series appartenant a la catégorie dont l'id est spécifier en parametres</pre>
                <p><code>https://brianboudrioux.fr/simplon/api/products/category/category_id</code></p>
                <pre>Exemple (POSTMAN) : </pre>
                <img src="../../getProductsByCategoryId.PNG" alt="get categories exemple call postman">
            </article>
            <article>
                <pre>L'url ci-dessous retourne tout le/la film/serie dont l'id est spécifier en parametres</pre>
                <p><code>https://brianboudrioux.fr/simplon/api/products/product_id</code></p>
                <pre>Exemple (POSTMAN) : </pre>
                <img src="../../getProductById.PNG" alt="get categories exemple call postman">
            </article>
            <article>
                <pre>L'url ci-dessous retourne tout les film/serie dont le nom (ou une partie du nom) est spécifier en parametres</pre>
                <p><code>https://brianboudrioux.fr/simplon/api/productsByName/product_name</code></p>
                <pre>Exemple (POSTMAN) : </pre>
                <img src="../../getProductsByName.PNG" alt="get categories exemple call postman">
            </article>
            <article>
                <pre>L'url ci-dessous retourne tout les favoris correspondant a l'utilisateur dont l'id est spécifier dans parametres</pre>
                <p><code>https://brianboudrioux.fr/simplon/api/products/favorites/user_id</code></p>
                <pre>Exemple (POSTMAN) : </pre>
                <img src="../../getFavorites.PNG" alt="get categories exemple call postman">
            </article>
        </section>
        <section>
            <h3>Les requettes POST</h3>
            <article>
                <pre>L'url ci-dessous permet d'enregistrer un nouvel utilisateurs dans notre API</pre>
                <p><code>https://brianboudrioux.fr/simplon/api/users</code></p>
                <pre>Pour cela vous devez passer en parametres de votre requettes POST les valeurs correspondant au champs suivant :</pre>
                <p><code>username, email, password</code></p>
                <pre>Exemple (POSTMAN) : </pre>
                <img src="../../postNewUser.PNG" alt="get categories exemple call postman">
            </article>
            <article>
                <pre>L'url ci-dessous permet de vérifier la présence d'un utilisateur dans notre API, <br> très utile pour effectuer une connexion !</pre>
                <p><code>https://brianboudrioux.fr/simplon/api/connect</code></p>
                <pre>Pour cela vous devez passer en parametres de votre requettes POST les valeurs correspondant au champs suivant :</pre>
                <p><code>email, password</code></p>
                <pre>Exemple (POSTMAN) : </pre>
                <img src="../../postConnexion.PNG" alt="get categories exemple call postman">
            </article>
            <article>
                <pre>L'url ci-dessous retourne tout les films/series appartenant aux catégories spécifier en parametres</pre>
                <p><code>https://brianboudrioux.fr/simplon/api/products/categories</code></p>
                <pre>Pour cela vous devez passer en parametres de votre requettes POST les valeurs correspondant au champs suivant :</pre>
                <p><code>categories[]</code></p>
                <pre>Exemple (POSTMAN) : </pre>
                <img src="../../postGetProductsByCategories.PNG" alt="get categories exemple call postman">
            </article>
            <article>
                <pre>L'url ci-dessous permet d'enregistrer une nouvelle category dans notre API</pre>
                <p><code>https://brianboudrioux.fr/simplon/api/categories</code></p>
                <pre>Pour cela vous devez passer en parametres de votre requettes POST les valeurs correspondant au champs suivant :</pre>
                <p><code>name, description, picture</code></p>
                <pre>Exemple (POSTMAN) : </pre>
                <img src="../../postCreateCategory.PNG" alt="get categories exemple call postman">
            </article>
            <article>
                <pre>L'url ci-dessous permet d'enregistrer un nouveau film/serie dans notre API <br> (!important! ne pas oublier de spécifier la ou les categories liée au film)</pre>
                <p><code>https://brianboudrioux.fr/simplon/api/products</code></p>
                <pre>Pour cela vous devez passer en parametres de votre requettes POST les valeurs correspondant au champs suivant :</pre>
                <p><code>name, description, picture, media, categories[]</code></p>
                <pre>Exemple (POSTMAN) : </pre>
                <img src="../../postCreateProduct.PNG" alt="get categories exemple call postman">
            </article>
            <article>
                <pre>L'url ci-dessous permet d'enregistrer un film/serie dans notre API pour l'utilisateur dont l'id est spécifier</pre>
                <p><code>https://brianboudrioux.fr/simplon/api/products/favorites/:userId</code></p>
                <pre>Pour cela vous devez passer en parametres de votre requettes POST les valeurs correspondant au champs suivant :</pre>
                <p><code>product</code> (la valeur de product doit correspondre a un id de product !)</p>
                <pre>Exemple (POSTMAN) : </pre>
                <img src="../../postAddFavorite.PNG" alt="get categories exemple call postman">
            </article>
        </section>
    </body>
</html>
